{% extends "base.html" %}
{% load gravatar %}
{% load humanize %}
{% load markup %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% include "blog/post.html" %}
    <h4>Comments:</h4>
    <div class="comments">
        {% for comment in comments %}
        <div class="comment" id="comment-{{ comment.id }}">
            <div class="picture">
            {% gravatar comment.email 50 %}
            </div>
            <div class="comment-details">
                <div>{{ comment.name }} - <span title="{{ comment.created }}">{{ comment.created|naturaltime }}</span></div>
                <div class="comment-body">{{ comment.body|markdown:"safe" }}</div>
            </div>
            <div style="clear:both"></div>
        </div>
        {% endfor %}
        {% include "blog/new_comment_form.html" %}
    </div>
</div>
{% endblock %}
