/*! project specific CSS goes here. */
.comment {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.comment-body {
    margin-top: 0.5em;
}

.picture, .comment-details {
    float: left;
}

.comment-details {
    margin-left: 1em;
}

.control-label {
    font-weight: bold;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.error {
    color: red;
}
