/*! project specific CSS goes here. */

h1, h2, h3 {
    line-height: 30px;
}

h1 {
    font-size: 24.5px;
}

h2 {
    font-size: 20.5px
}

h3 {
    font-size: 17.5px
}

h4 {
    font-size: 14px;
}

.navbar .brand {
    font-family: 'Poller One', cursive;
    font-weight: normal;
}

body {
    background-color: #eee;
}

article, .comments {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.comment {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.comment-body {
    margin-top: 0.5em;
}

.picture {
    float: left;
    padding: 0 1em 1em 0;
}

.control-label {
    font-weight: bold;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.error {
    color: red;
}

#id_title, #id_slug {
    width: 50%;
    min-width: 206px;
}

.blog-post-title, .blog-comments-title {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.blog-post-title { 
    margin-bottom: 0;
    font-family: 'Poller One', cursive;
    font-weight: normal;
}

.blog-comments-title {
    line-height: 20px;
}

.pub-date {
    margin-top: -0.5em;
    color: #999999;
}
.post-body {
    margin-top: 1.5em;
}
.pub-date, .post-body, .comment, .comment-counts {
    margin-left: 10px;
}

.pager.top {
    margin-top: 0;
}
